<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BBPMP Jabar</title>
    <link rel="stylesheet" href="/face.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="/asset/bbpmp.png" alt="BBPMP Logo" />
      </div>
      <button id="goToPage" class="masuk-button">MASUK</button>
      <div id="loading" style="display: none">
        <div class="loading-bar">
          <div class="loading-bar-progress"></div>
        </div>
      </div>
    </div>

    <script src="/face.js"></script>
  </body>
</html>
